.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 92px 0 0;
  padding-bottom: 12px;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    gap: 16px;
    padding-bottom: 15px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    margin-top: 70px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    margin-top: 64px;
    gap: 12px;
    padding-bottom: 14px;
  }
}

