.lead {
  box-sizing: border-box;
  padding: 0 11.56% 0;
}

@media (max-width: 1150px) {
  .lead {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 1024px) {
  .lead {
    padding-left: 4.7%;
    padding-right: 4.7%;
  }
}

@media (max-width: 768px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }
}

